@import url(http://weloveiconfonts.com/api/?family=brandico);
/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

#bG {
  color: #000;
  background: #fff;
  text-align: left;
}

img {
  border-radius: 5px;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

ul {
    list-style-type: none;
  }

.inline {
  display: inline;
}

button {
  background-color: #fff;
  border-color: #000;
}

.navbar {
  background-color: rgb(37,41,46);
}

.hamburger {
  display: none;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.tab-content {
  color: #000;
  max-width: 600px;
}

.nav-tabs{
  background-color: rgb(37,41,46);;
}

.nav-tabs > li > a{
  background-color: rgb(37,41,46);!important;
  color: #fff;
}

.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border-radius: 0;
    color:#fff;
}

ul .nav {
  border-color: rgb(37,41,46);;
}

#name {
  color: #fff;
  margin-left: 37px;
}

p {
  line-height: normal;
  font-size: 18px;
}

a h2 {
  color: #000;
}

.flex-item {
  display: inline;
  color: #fff;
  margin: 10px;
}

h4 ul {
  display: inline;
}

.footerContent {
  color: #fff;
  margin-top: 100px;
  border-top: solid;
  height: 300px;
  background-color: #000;
  padding-top: 40px;
}

@media only screen and (max-width: 768px) {
  .footerContent {
    margin-top: 50px;
    border-top: solid;
    height: 300px;
    background-color: #000;
  }
}

@media only screen and (max-width: 767px) {
  a h4 {
    margin: 0px;
  }

  iframe {
    max-width: 100%;
    height: 300px;
  }

  .hamburger {
    cursor: pointer;
    padding: 0px;
    padding-top: 0px;
    margin-top: 0px;
    display: block;
  }

  .menu {
    height: 0;
    overflow: hidden;
  }

  .open {
    height: 80px;
    padding-left: 20px;
    margin-top: 8px;
    margin-left: -20px;
    margin-right: -20px;
  }

  #name {
    margin-left: 0px;
  }
}
